*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url(../../assets/suaConta.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 622px;
    display: flex;
    flex-direction: row;
}
.userData {
    width: 400px;
    height: 622px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    backdrop-filter: blur(10px);
    font-family: Alata;
    font-size: 15px;
}
.transaction{
    width: 400px;
    height: 622px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    padding: 50px;
    backdrop-filter: blur(10px);
    font-family: Alata;
    font-size: 15px;
}
.userIcon{
    font-size: 90px;
}
.accountData{
    margin-top: 100px;
}
.eye{
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 2px;
}
.config{
    margin-top: 200px;
}
  

