*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url(../../assets/Boleto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 622px;
}