@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.card{
    background-image: url(../../assets/ImagemHome.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}
.text{
    display: flex;
    justify-items: center;
    margin-left: 50px;
    padding-top: 50px;
    font-family: Alata;
    font-size: large;
    color: hsla(0, 0%, 14%, 1);
}
.button{
    margin-top: 20px;
    margin-left: 30px;  
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    font-size: 30px;   
}
.button a{
    font-family: Alata;
    color: white;
    text-decoration: none;
    border: solid 2px #5d9d4e;
    background-color: #5d9d4e;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}
@media only screen and (max-width: 768px){

    .text{
        font-size: 15px;
    }
    .button {
       font-size: 20px; 
       padding-left: 20px;
       padding-right: 20px;
    }
}
