@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: white;
    font-family: Alata;
    position: relative;
    z-index: 1;
}
.logo{
    margin: 10px;
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center; 
}
.transfer,
.deposit,
.withdraw,
.ticket,
.payticket,
.logout,
.login,
.register{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}
.logout{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: large;
    font-family: Alata;
}
.mobile_menu_icon{
    display: none;
}
.transfer,
.deposit,
.withdraw,
.ticket,
.payticket,
.logout,
.login,
.register li:hover{
    color: white;
    background-color: #5d9d4e;
    padding: 10px;
    border-radius: 10px;
}
.logout:hover{
    padding: 5px;
    color: white;
}

@media screen and (max-width: 1000px){
    .logo{
        display: flex;
        position: absolute;
        margin-top: 15px;
        left: 35px;
    }
    .list{
        display: none;
    }
    .list_mobile{
        display: block;
        position: absolute;
        list-style: none;
        background-color: white;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    .transfer,
    .deposit,
    .withdraw,
    .ticket,
    .payticket,
    .logout,
    .login,
    .register{
        color: black;
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
    }
    .mobile_menu_icon{
        display: block;
        position: absolute;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
        color: #5d9d4e;
        background-color: white;
        border: none;
        outline: none;
        top: 23px;
        right: 25px;
    }
}
