@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.card{
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    font-family: Alata;
    backdrop-filter: blur(15px);
}
.card h1{
    margin: 20px;
    margin-top: 10px;  
    text-align: center;
}
.button{
    display: grid;
}
.button a{
    margin: 10px;
    padding: 6px 16px;
    font-family: Alata;
    font-size: large;
    cursor: pointer;
    text-align: center;
    color: black;
}
